@import "_globals";

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes up-element {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}

body.lock {
   overflow: hidden;
}

img,
picture {
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.wrapper {
   overflow: hidden;
}

section {
   width: 100vw;
   height: 100vh;
   position: relative;
}

.container {
   margin: 0 auto;
   max-width: 1400px;
   padding: 0 100px;
   z-index: 1;
}

@media (max-width: $md1 + px) {
   .container {
      max-width: 1130px;
      padding: 0 70px;
   }
}

@media (max-width: $md2 + px) {
   .container {
      padding: 0px 60px;
      max-width: none;
   }
}

@media (max-width: $md3 + px) {
   .container {
      padding: 0px 40px;
      max-width: none;
   }
}

@media (orientation: portrait) and (max-width: $md4 + px) {
   .container {
      padding: 0px 20px;
   }
}

.main_background {
   position: absolute;
   z-index: -10;
   height: 200vh;
   width: 100%;
   left: 0;
   top: 0;
}

.one {
   .ring {
      position: absolute;
      padding-top: 2vh;
      right: -220px;
      height: 120%;
      width: auto;
      animation: fade-in 1s ease-in-out;
      z-index: -1;
   }
   &__block {
      padding-top: 26vh;
      width: fit-content;
      &_title {
         color: #f5f5f5;
         text-transform: uppercase;
         h2 {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.1em;
            margin-bottom: 2vh;
            opacity: 0;
            transition: all 1s ease-in-out;
         }
         h1 {
            font-family: "Philosopher", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            margin-bottom: 8vh;
            opacity: 0;
            transition: all 1s ease-in-out;
         }
      }
      &_data {
         margin-bottom: 8vh;
         display: flex;
         justify-content: flex-start;
         position: relative;
         text-align: center;
         > div {
            padding: 0px 20px;
         }
         > div:first-child {
            padding: 0px 20px 0px 0px;
         }
         h2 {
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
            font-size: 37px;
            text-transform: uppercase;
            color: #fcfcfc;
            letter-spacing: 0;
            opacity: 0;
            transition: all 1s ease-in-out;
         }
         h3 {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            opacity: 0;
            transition: all 1s ease-in-out;
         }
      }

      &_buttons {
         position: relative;
         display: flex;

         > a {
            font-family: "Open Sans", sans-serif;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            background: #f2bb59;
            border-radius: 30px;
            color: black;
            width: 216px;
            font-size: 18px;
            margin-right: 40px;
            transition: all 0.2s ease-in-out;
            opacity: 0;
         }
         > a:hover {
            background: none;
            border: 2px solid white;
            color: white;
         }
         > a:focus {
            border: 2px solid white;
         }
         .contacts__info {
            display: flex;
            a {
               display: flex;
               justify-content: center;
               align-items: center;
               border: 3px solid #f2bb59;
               border-radius: 50%;
               margin: 0px 10px;
               height: 50px;
               width: 50px;
               transition: all 0.2s ease-in-out;
               opacity: 0;
               .icon {
                  fill: #f2bb59;
                  height: 30px;
                  width: 30px;
                  transition: all 0.35s ease-in-out;
               }
            }
            a:last-child .icon {
               height: 35px;
               width: 35px;
            }
            a:hover {
               border: 3px solid white;
               height: 60px;
               width: 60px;
               .icon {
                  fill: white;
                  height: 40px;
                  width: 40px;
               }
            }
            a:last-child:hover {
               .icon {
                  height: 44px;
                  width: 44px;
               }
            }
         }
      }
   }

   @media (orientation: landscape) and (max-width: 2000px) and (min-height: 900px) {
      .ring {
         left: 40vw;
      }
   }

   @media (orientation: landscape) and (max-width: $md1 + px) {
      .ring {
         opacity: 0.7;
         right: -500px;
      }
      &__block {
         &_title {
            h2 {
               font-size: 22px;
            }
            h1 {
               font-size: 54px;
            }
         }
         &_data {
            h2 {
               font-size: 34px;
            }
            h3 {
               font-size: 14px;
            }
         }
         &_buttons {
            > a {
               height: 44px;
            }
            .contacts__info {
               a {
                  height: 44px;
                  width: 44px;
                  border: 3px solid #f2bb59;
                  .icon {
                     height: 26px;
                     width: 26px;
                  }
               }
               a:last-child .icon {
                  height: 30px;
                  width: 30px;
               }
               a:hover {
                  border: 3px solid white;
                  height: 50px;
                  width: 50px;
                  .icon {
                     fill: white;
                     height: 30px;
                     width: 30px;
                  }
               }
               a:last-child:hover {
                  .icon {
                     height: 34px;
                     width: 34px;
                  }
               }
            }
         }
      }
   }

   @media (orientation: landscape) and (max-width: $md2 + px) {
      .ring {
         right: -350px;
      }
      &__block {
         &_title {
            h2 {
               font-size: 18px;
            }
            h1 {
               font-size: 50px;
            }
         }
         &_data {
            h2 {
               font-size: 30px;
            }
            h3 {
               font-size: 12px;
            }
         }
         &_buttons {
            > a {
               font-size: 16px;
               width: 200px;
               height: 38px;
            }
            .contacts__info {
               a {
                  height: 38px;
                  width: 38px;
                  .icon {
                     height: 20px;
                     width: 20px;
                  }
               }
               a:last-child .icon {
                  height: 24px;
                  width: 24px;
               }
               a:hover {
                  height: 44px;
                  width: 44px;
                  .icon {
                     fill: white;
                     height: 24px;
                     width: 24px;
                  }
               }
               a:last-child:hover {
                  .icon {
                     height: 28px;
                     width: 28px;
                  }
               }
            }
         }
      }
   }

   @media (orientation: landscape) and (max-width: $md3 + px) {
      .ring {
         right: -350px;
      }
      &__block {
         padding-top: 28vh;
         &_title {
            h2 {
               font-size: 14px;
            }
            h1 {
               font-size: 36px;
            }
         }
         &_data {
            h2 {
               font-size: 22px;
            }
            h3 {
               font-size: 10px;
            }
         }
         &_buttons {
            > a {
               height: 30px;
               width: 165px;
               font-size: 14px;
               margin-right: 30px;
            }
            .contacts__info {
               a {
                  height: 30px;
                  width: 30px;
                  border: 2px solid #f2bb59;
                  .icon {
                     height: 16px;
                     width: 16px;
                  }
               }
               a:last-child .icon {
                  height: 19px;
                  width: 19px;
               }
               a:hover {
                  border: 3px solid white;
                  height: 50px;
                  width: 50px;
                  .icon {
                     fill: white;
                     height: 30px;
                     width: 30px;
                  }
               }
               a:last-child:hover {
                  .icon {
                     height: 34px;
                     width: 34px;
                  }
               }
            }
         }
      }
   }

   @media (orientation: landscape) and (max-width: $md4 + px) {
      .ring {
         right: -300px;
      }
      &__block {
         &_title {
            h2 {
               font-size: 12px;
            }
            h1 {
               font-size: 32px;
            }
         }
         &_data {
            > div {
               padding: 0px 5px;
            }
            h2 {
               font-size: 20px;
            }
            h3 {
               font-size: 10px;
            }
         }
      }
   }

   @media (orientation: portrait) and (min-width: 1000px) {
      .ring {
         opacity: 0.7;
         right: -1400px;
      }
      &__block {
         &_title {
            h2 {
               font-size: 26px;
            }
            h1 {
               font-size: 62px;
            }
         }
         &_data {
            h2 {
               font-size: 38px;
            }
            h3 {
               font-size: 17px;
            }
         }
         &_buttons {
            > a {
               height: 44px;
            }
            .contacts__info {
               a {
                  height: 44px;
                  width: 44px;
                  border: 3px solid #f2bb59;
                  .icon {
                     height: 26px;
                     width: 26px;
                  }
               }
               a:last-child .icon {
                  height: 30px;
                  width: 30px;
               }
               a:hover {
                  border: 3px solid white;
                  height: 50px;
                  width: 50px;
                  .icon {
                     fill: white;
                     height: 30px;
                     width: 30px;
                  }
               }
               a:last-child:hover {
                  .icon {
                     height: 34px;
                     width: 34px;
                  }
               }
            }
         }
      }
   }

   @media (orientation: portrait) and (max-width: $md2 + px) {
      .ring {
         opacity: 0.7;
         right: -900px;
      }
      &__block {
         &_title {
            h2 {
               font-size: 22px;
            }
            h1 {
               font-size: 54px;
            }
         }
         &_data {
            h2 {
               font-size: 34px;
            }
            h3 {
               font-size: 14px;
            }
         }
         &_buttons {
            > a {
               font-size: 16px;
               width: 200px;
               height: 38px;
            }
            .contacts__info {
               a {
                  height: 38px;
                  width: 38px;
                  .icon {
                     height: 20px;
                     width: 20px;
                  }
               }
               a:last-child .icon {
                  height: 24px;
                  width: 24px;
               }
               a:hover {
                  height: 44px;
                  width: 44px;
                  .icon {
                     fill: white;
                     height: 24px;
                     width: 24px;
                  }
               }
               a:last-child:hover {
                  .icon {
                     height: 28px;
                     width: 28px;
                  }
               }
            }
         }
      }
   }

   @media (orientation: portrait) and (max-width: $md3 + px) {
      .ring {
         top: 28vh;
         height: 90vh;
         opacity: 0.7;
         right: -100px;
      }
      &__block {
         &_title {
            h2 {
               font-size: 17px;
            }
            h1 {
               font-size: 38px;
            }
         }
         &_data {
            > div {
               padding: 0px 8px;
            }
            h2 {
               font-size: 28px;
            }
            h3 {
               font-size: 12px;
            }
         }
         &_buttons {
            > a {
               height: 30px;
               width: 165px;
               font-size: 14px;
               margin-right: 30px;
            }
            .contacts__info {
               a {
                  height: 30px;
                  width: 30px;
                  border: 2px solid #f2bb59;
                  .icon {
                     height: 16px;
                     width: 16px;
                  }
               }
               a:last-child .icon {
                  height: 19px;
                  width: 19px;
               }
               a:hover {
                  border: 3px solid white;
                  height: 50px;
                  width: 50px;
                  .icon {
                     fill: white;
                     height: 30px;
                     width: 30px;
                  }
               }
               a:last-child:hover {
                  .icon {
                     height: 34px;
                     width: 34px;
                  }
               }
            }
         }
      }
   }

   @media (orientation: portrait) and (max-width: $md4 + px) {
      & {
         height: 100vh;
      }
      .ring {
         top: 36vh;
         height: 100vh;
         right: -100px;
      }
      &__block {
         &_title {
            h2 {
               font-size: 12px;
            }
            h1 {
               font-size: 30px;
            }
         }
         &_data {
            > div {
               padding: 0px 7px;
            }
            > div:first-child {
               padding-right: 7px;
            }
            h2 {
               font-size: 18px;
            }
            h3 {
               font-size: 9px;
            }
         }
         &_buttons {
            flex-direction: column;
            > a {
               margin-bottom: 20px;
            }
         }
      }
   }
}

@media (orientation: landscape) and (max-width: $md4 + px) {
   .one,
   .two {
      min-width: 440px;
   }
}

// Второй блок

.two {
   img {
      position: absolute;
      z-index: 1;
      top: 5vh;
      height: 95vh;
      width: auto;
      right: 0px;
      animation: fade-in 1s ease-in-out;
   }
   &__block {
      width: 100%;
      padding-top: 16vh;
      &_white-line {
         background-color: white;
         width: 100%;
      }
      &_title {
         padding: 60px 0px;
         width: 550px;
         h2 {
            font-family: "Philosopher", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 100%;
            text-transform: uppercase;
            color: #3a3349;
            margin-bottom: 30px;
            opacity: 0;
            transition: all 1s ease-in-out;
         }
         p {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            width: 550px;
            font-weight: 300;
            font-size: 20px;
            line-height: 140%;
            color: #575757;
            opacity: 0;
            transition: all 1s ease-in-out;
         }
      }
      &_buttons {
         padding-top: 30px;
         display: flex;
         flex-direction: column;

         a {
            width: 300px;
            font-family: "Open Sans", sans-serif;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            background: #f2bb59;
            border-radius: 30px;
            color: black;
            font-size: 18px;
            opacity: 0;
            transition: all 1s ease-in-out;
         }
         a:first-child {
            margin-bottom: 16px;
         }
         a:hover {
            width: 299px;
            border: 2px solid black;
            background: none;
         }
         a:focus {
            width: 299px;
            border: 2px solid black;
         }
      }
   }

   @media (orientation: landscape) and (max-width: 2000px) and (min-height: 900px) {
      img {
         right: -200px;
      }
   }

   @media (orientation: landscape) and (max-width: 1500px) {
      img {
         top: 10vh;
         height: 90vh;
         right: -200px;
      }
      &__block {
         &_title {
            p {
               width: 500px;
               font-size: 19px;
            }
         }
      }
   }

   @media (orientation: landscape) and (max-width: $md1 + px) {
      img {
         right: -250px;
      }
      &__block {
         &_title {
            h2 {
               font-size: 32px;
            }
            p {
               width: 400px;
               font-size: 18px;
            }
         }
         &_buttons {
            a {
               font-size: 16px;
               width: 270px;
               height: 46px;
            }
            a:hover {
               width: 269px;
               border: 2px solid black;
               background: none;
            }
            a:focus {
               width: 269px;
               border: 2px solid black;
            }
         }
      }
   }

   @media (orientation: landscape) and (max-width: $md2 + px) {
      > img {
         top: 15vh;
         height: 85vh;
      }
      &__block {
         &_title {
            width: 340px;
            padding: 60px 0px;
            h2 {
               font-size: 28px;
               margin-bottom: 25px;
            }
            p {
               width: 340px;
               font-size: 15px;
            }
         }
         &_buttons {
            padding-top: 25px;
            a {
               font-size: 14px;
               width: 250px;
               height: 42px;
            }
            a:first-child {
               margin-bottom: 12px;
            }
            a:hover {
               width: 249px;
               border: 2px solid black;
               background: none;
            }
            a:focus {
               width: 249px;
               border: 2px solid black;
            }
         }
      }
   }

   @media (orientation: landscape) and (max-width: $md3 + px) {
      > img {
         display: none;
      }
      &__block {
         &_title {
            width: auto;
            padding: 50px 0px;
            h2 {
               margin-bottom: 20px;
            }
            p {
               width: auto;
            }
         }
         &_buttons {
            padding-top: 20px;
            a {
               height: 38px;
            }
            a:first-child {
               margin-bottom: 8px;
            }
         }
      }
   }

   @media (orientation: portrait) and (max-width: $md1 + px) {
      img {
         display: none;
      }
      &__block {
         &_title {
            padding: 80px 0px;
            width: 100%;
            h2 {
               font-size: 60px;
               margin-bottom: 50px;
            }
            p {
               width: 100%;
               font-size: 30px;
            }
         }
         &_buttons {
            padding-top: 50px;
            a {
               height: 64px;
               width: 440px;
               font-size: 26px;
            }
            a:first-child {
               margin-bottom: 30px;
            }
            a:hover {
               width: 439px;
               border: 2px solid black;
               background: none;
            }
            a:focus {
               width: 439px;
               border: 2px solid black;
            }
         }
      }
   }

   @media (orientation: portrait) and (max-width: $md2 + px) {
      &__block {
         &_title {
            padding: 60px 0px;
            h2 {
               font-size: 50px;
               margin-bottom: 40px;
            }
            p {
               font-size: 22px;
            }
         }
         &_buttons {
            padding-top: 40px;
            a {
               height: 50px;
               width: 380px;
               font-size: 20px;
            }
            a:first-child {
               margin-bottom: 28px;
            }
            a:hover {
               width: 379px;
               border: 2px solid black;
               background: none;
            }
            a:focus {
               width: 379px;
               border: 2px solid black;
            }
         }
      }
   }
   @media (orientation: portrait) and (max-width: $md3 + px) {
      &__block {
         &_title {
            padding: 60px 0px;
            h2 {
               font-size: 38px;
               margin-bottom: 40px;
            }
            p {
               font-size: 17px;
            }
         }
         &_buttons {
            padding-top: 40px;
            a {
               height: 42px;
               width: 280px;
               font-size: 15px;
            }
            a:first-child {
               margin-bottom: 20px;
            }
            a:hover {
               width: 279px;
               border: 2px solid black;
               background: none;
            }
            a:focus {
               width: 279px;
               border: 2px solid black;
            }
         }
      }
   }
   @media (orientation: portrait) and (max-width: $md4 + px) {
      display: flex;
      justify-content: center;
      align-items: center;
      &__block {
         padding-top: 0px;
         &_title {
            padding: 30px 0px;
            h2 {
               font-size: 30px;
               margin-bottom: 30px;
            }
            p {
               font-size: 14px;
            }
         }
         &_buttons {
            padding-top: 30px;
            a {
               height: 34px;
               width: 220px;
               font-size: 13px;
            }
            a:first-child {
               margin-bottom: 10px;
            }
            a:hover {
               width: 219px;
               border: 2px solid black;
               background: none;
            }
            a:focus {
               width: 219px;
               border: 2px solid black;
            }
         }
      }
   }
}

// Третий блок

.three {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   &__block {
      position: relative;
      margin: 0 auto;
      margin-top: 10vh;
      padding: 30px 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &_desctop {
         display: flex;
         justify-content: center;
         align-items: center;
      }

      &_mobile {
         display: none;
      }

      .vertical_line {
         position: absolute;
         z-index: -1;
         height: 360px;
         width: 100%;
         background-color: red;
         background: rgba(107, 87, 152, 0.48);
         transform: matrix(1, 0, 0, -1, 0, 0);
      }

      &_inner-block {
         display: flex;
         flex-direction: column;
      }

      &_card {
         position: relative;
         margin: 30px;
         width: 250px;
         height: 280px;

         border-radius: 30px;
         overflow: hidden;
         opacity: 0;

         &-title {
            width: 100%;
            height: 100%;
            padding: 25px;
            display: flex;
            justify-content: center;
            background: linear-gradient(115.88deg, #6b5798 28.42%, rgba(0, 0, 0, 0) 93.46%);
            h3 {
               font-family: "Montserrat", sans-serif;
               font-weight: 600;
               font-size: 16px;
               line-height: 150%;
               letter-spacing: 0.01rem;
               color: white;
            }
            a {
               font-family: "Open Sans", sans-serif;
               font-weight: 600;
               margin: 0 auto;
               position: absolute;
               bottom: 25px;
               font-size: 14px;
               color: black;
               background: #f2bb59;
               border-radius: 30px;
               padding: 12px 10px;
            }
            a:hover {
               border: 2px solid white;
               background: none;
               color: white;
               padding: 10px 8px;
            }
            a:focus {
               border: 2px solid white;
               padding: 10px 8px;
            }
         }
         img {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
         }
      }
      &_card:nth-child(1) {
         img {
            width: 250px;
         }
      }
      &_card:nth-child(2) {
         img {
            height: 290px;
         }
      }
      &_card:nth-child(3) {
         img {
            width: 250px;
         }
      }
   }

   @media (max-width: $md2 + px) {
      .three__block_desctop {
         display: none;
      }
      .three__block {
         margin-top: 13vh;
         .vertical_line {
            height: 280px;
         }
         &_mobile {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
         }

         &_card {
            margin: 15px;
            height: 240px;
            width: 200px;
            &-title {
               width: 100%;
               height: 100%;
               padding: 25px;
               display: flex;
               justify-content: center;
               h3 {
                  font-size: 14px;
               }
               a {
                  font-size: 12px;
               }
               a:hover {
                  border: 2px solid white;
                  background: none;
                  color: white;
                  padding: 10px 9px;
               }
               a:focus {
                  border: 2px solid white;
                  padding: 10px 9px;
               }
            }
         }
      }
   }

   @media (orientation: portrait) and (max-width: $md1 + px) {
   }
   @media (orientation: portrait) and (max-width: $md2 + px) {
      .three {
         &__block {
            margin-top: 8vh;
            .vertical_line {
               height: 400px;
            }
            &_card {
               height: 300px;
               width: 220px;
            }
         }
      }
   }
   @media (orientation: portrait) and (max-width: $md3 + px) {
   }
   @media (orientation: portrait) and (max-width: $md4 + px) {
   }

   @media (orientation: landscape) and (max-height: 720px) {
      &__block {
         &_card {
            height: 250px;
            margin: 20px;
         }
      }
   }
}

.four {
   .block__comments_info {
      .owl-carousel {
         display: none;
      }
   }
   .block {
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 70px;
      > picture {
         position: absolute;
         width: 100%;
         height: 70vh;
         top: 25vh;
         z-index: -3;
         img {
            width: 100%;
            height: 70vh;
         }
      }
      &__title {
         h1 {
            text-transform: uppercase;
            font-size: 35px;
            padding-bottom: 100px;
         }

         @media (max-height: 800px) {
            h1 {
               padding-bottom: 60px;
            }
         }
         @media (max-height: 750px) {
            h1 {
               padding-bottom: 20px;
            }
         }
      }

      &__comments {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 80%;
         button {
            margin: 15px;
            transition: all 0.1s ease-in-out;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0);
         }
         button:hover {
            opacity: 0.5;
         }
         button:focus {
            opacity: 0.5;
         }

         &_info {
            position: relative;
            overflow: hidden;
            .carousel {
               width: 9999px;
               transition: margin-left 250ms;
               display: flex;
               justify-content: flex-start;
            }
            .comment_line {
               display: flex;
               justify-content: center;
               align-items: flex-start;
               flex-direction: column;
            }
            .comment {
               height: fit-content;
               width: calc(100% - 20px);
               margin: 10px auto;
               background: linear-gradient(180.7deg, rgba(216, 215, 217, 0.28) -14.86%, rgba(255, 255, 255, 0.75) 99.4%),
                  linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.315);
               border-radius: 30px;
               box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
               &__info {
                  width: 100%;
                  height: 100%;
                  padding: 30px;
                  p {
                     font-family: "Open Sans", sans-serif;
                     line-height: 150%;
                     max-height: 150px;
                     overflow: auto;
                     margin-bottom: 20px;
                  }
                  @media (max-height: 800px) {
                     p {
                        max-height: 130px;
                     }
                  }
                  @media (max-height: 750px) {
                     p {
                        max-height: 110px;
                     }
                  }
                  &_person {
                     display: flex;
                     img {
                        height: 40px;
                        width: 40px;
                     }
                  }
                  &_data {
                     padding-left: 20px;
                     font-family: "Montserrat", sans-serif;
                     font-weight: 500;
                     h3 {
                        font-size: 18px;
                        letter-spacing: 0.01rem;
                        padding-bottom: 5px;
                     }
                     h4 {
                        opacity: 0.5;
                        font-size: 12px;
                        line-height: 140%;
                     }
                  }
               }
            }
         }
      }

      @media (max-width: 1400px) {
         &__title {
            h1 {
               font-size: 32px;
            }
         }
         &__comments {
            .comment {
               margin: 15px;
               &__info {
                  padding: 25px;
                  p {
                     max-height: 120px;
                  }
                  &_data {
                     h3 {
                        padding-top: 3px;
                        font-size: 16px;
                     }
                  }
               }
            }
         }
      }

      @media (max-width: $md3 + px) {
         .owl-carousel_comment {
            display: block;
         }
         .block__comments {
            width: 90%;

            button {
               display: none;
            }
            .carousel {
               display: none;
            }
            .owl-stage {
               display: flex;
            }
         }
      }

      @media (max-width: $md4 + px) {
         &__title {
            h1 {
               font-size: 24px;
               padding-bottom: 20px;
            }
         }
         .comment__info_data {
            h3 {
               font-size: 13px;
               line-height: 140%;
            }
         }
      }
   }
}

@media (max-width: $md3 + px) {
   .four {
      height: fit-content;
      .block {
         height: fit-content;
         margin-bottom: 50px;
      }
   }
}

.five {
   &_img {
      position: absolute;
      right: 0;
      height: 90vh;
      top: 10vh;
      z-index: -5;
   }
   .background {
      position: absolute;
      z-index: -10;
      height: 100vh;
      min-width: 100%;
   }
   &__block {
      color: white;
      padding-top: 22vh;
      h1 {
         text-transform: uppercase;
         font-family: "Philosopher", sans-serif;
         font-size: 35px;
         margin-bottom: 34px;
      }
      &_list {
         padding-bottom: 24px;
         h3 {
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            line-height: 140%;
            padding-bottom: 10px;
         }
         li {
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            line-height: 140%;
            list-style-type: disc;
            margin-left: 24px;
         }
      }

      h3 {
         font-family: "Open Sans", sans-serif;
         font-size: 20px;
         line-height: 140%;
         padding-bottom: 10px;
         padding-bottom: 40px;
      }

      a {
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: "Open Sans", sans-serif;
         font-weight: 600;
         font-size: 15px;
         color: black;
         background: #f2bb59;
         height: 40px;
         width: 275px;
         border-radius: 30px;
      }
      a:hover {
         background: none;
         border: 2px solid white;
         color: white;
      }
      a:focus {
         border: 2px solid white;
      }
   }
   @media (max-width: $md1 + px) {
      &_img {
         right: -100px;
      }
   }
   @media (max-width: $md2 + px) {
      &_img {
         opacity: 0.7;
         right: -300px;
      }
   }
   @media (max-width: $md3 + px) {
      &_img {
         right: -500px;
      }
      &__block {
         &_list {
            h3 {
               padding-bottom: 20px;
            }
         }
      }
   }
   @media (max-width: $md4 + px) {
      &_img {
         right: -600px;
      }
      &__block {
         h1 {
            font-size: 24px;
         }
         &_list {
            h3,
            li {
               font-size: 16px;
            }
         }
         h3 {
            font-size: 16px;
         }
         a {
            height: 34px;
            width: 240px;
         }
      }
   }

   @media (min-height: 900px) {
      &_img {
         top: calc(100vh - 800px);
         height: 800px;
      }
   }
}

.six {
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 200px);

   picture {
      position: absolute;
      height: calc(90vh - 200px);
      left: 0px;
      top: 10vh;
      img {
         height: 100%;
      }
   }

   &__block {
      display: flex;
      align-items: center;
      z-index: -10;
      width: 100%;
      height: 50%;
      background: rgba(107, 87, 152, 0.14);

      &_text {
         width: 580px;
         height: 210px;
         background: linear-gradient(180deg, rgba(107, 87, 152, 0.5) 0%, rgba(255, 255, 255, 0.365) 100%),
            rgba(107, 87, 152, 0.3);
         box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
         border-radius: 30px 30px 4px 30px;
         margin-left: 45vw;
         .inner {
            width: 100%;
            height: 100%;
            padding: 30px;
            text-align: right;
            color: white;
            h3 {
               font-family: "Philosopher", sans-serif;
               font-style: italic;
               font-size: 28px;
               line-height: 130%;
               padding-bottom: 40px;
            }
            h4 {
               font-family: "Open Sans", sans-serif;
               font-weight: 300;
               font-size: 24px;
               letter-spacing: 0.03rem;
            }
         }
      }
   }

   @media (max-width: $md1 + px) {
      &__block {
         &_text {
            width: 400px;
            height: 200px;
            margin-left: 50vw;
            .inner {
               padding: 20px;
               h3 {
                  font-size: 24px;
               }
               h4 {
                  font-size: 20px;
               }
            }
         }
      }
   }

   @media (max-width: $md2 + px) {
      > picture {
         top: calc(40vh - 200px);
         height: 60vh;
         left: -150px;
      }
      &__block {
         &_text {
            margin-left: auto;
            margin-right: 30px;
         }
      }
   }

   @media (max-width: $md3 + px) {
      height: calc(100vh - 170px);
      align-items: flex-start;

      > picture {
         left: 0px;
         top: calc(50vh - 170px);
         height: 50vh;
      }

      &__block {
         margin-top: 50px;
         &_text {
            height: 180px;
            width: 80%;
            margin: 0 auto;
            .inner {
               padding: 30px;
            }
         }
      }
   }

   @media (max-width: 616px) {
      &__block {
         &_text {
            width: 90%;
            .inner {
               h3 {
                  font-size: 20px;
               }
               h4 {
                  font-size: 16px;
               }
            }
         }
      }
   }

   @media (max-width: $md4 + px) {
      > picture {
         height: 40vh;
         top: calc(60vh - 170px);
      }
      &__block {
         height: fit-content;
         padding: 20px;
         margin-top: 12vh;
         &_text {
            height: fit-content;
            margin: 0px 0px 0px auto;
            .inner {
               padding: 20px;
               h3 {
                  font-size: 18px;
               }
               h4 {
                  font-size: 14px;
               }
            }
         }
      }
   }

   @media (min-height: 900px) {
      > picture {
         top: calc(100vh - 770px);
         height: 600px;
      }
   }
}
